.button
  background-color #435993
  padding 19px 0
  width 116px
  text-align center
  border 2px solid #435993
  box-sizing border-box
  border-radius 12px
  font-size 16px
  font-weight 300
  font-family Roboto
  color #ffffff
  margin-top 87px
  cursor pointer
  t()
  &:hover
    background-color transparent
    color #435993

  +to-width(768px)
    margin-top 40px
