.section
  padding-top 75px
  &.javascript
    overflow hidden
    padding-bottom 30px
  .wrap
    display flex
    flex-direction column
    align-items center

  &-title
    color #1c1c1c
    font-family Roboto
    font-size 30px
    font-weight 300
    margin-top 28px
    padding-bottom 22px
    text-align center
    +to-width(520px)
      font-size 24px

  &-text
    font-size 16px
    font-weight 300
    line-height 23.99px
    font-family Roboto
    color #1c1c1c
    max-width 492px
    text-align center
    +to-width(520px)
      font-size 14px
