.selectize
  &-control
    max-width 520px
    width 100%
    margin-top 25px

  &-input
    border 1px solid #e5e5e5
    height 60px
    width 100%
    border-radius 5px
    font-size 20px
    font-weight 400
    text-align center
    color #1c1c1c
    padding-top 10px
    box-shadow none
    display flex
    justify-content center
    align-items center
    t()

    .item
      color #c8c8c8
      font-family Roboto
      font-size 24px
      font-weight 400
      position absolute
      top 21px
      left 0
      right 0

    input
      opacity 0!important

  &-dropdown
    box-shadow 0 3px 8px rgba(0, 0, 0, 0.2)
    border-radius 6px
    padding 20px 0

    .option
      font-size 20px
      color #435993
      text-align center
      line-height 36px
