.textarea
  border 1px solid #e5e5e5
  max-width 520px
  width 100%
  margin-top 40px
  border-radius 5px
  height 181px
  padding 20px 24px
  font-size 20px
  font-family Roboto
  line-height 26px
  t()
  +placeholder()
    color #c8c8c8

  &:focus
    border 1px solid #435993
