section.section.personal
  .wrap
    img.questionnaire-icon(src="assets/images/book_icon.svg")
    
    h2.section-title Личная информация
    
    .input
      input(type="text" name="name" required).active
      label(for="name") ФИО
    select.select
      option 2000
      option 1999
      option 1998
      option 1997
      option 1996
      option(selected) 1995
      option 1994
      option 1993
      option 1992
    .input
      input(type="text" name="place" required).active
      label(for="place") Место проживания
    .input
      input(type="text" name="skype" required).active
      label(for="skype") Skype
    .input
      input(type="text" name="email" required).active
      label(for="email") E-mail
